html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fffafa;
}

.header {
  height: 100px;
  width: 100%;
  padding: 10px 40px;
  background-color: #fffafa;
  display: flex;
}

.UserInfo {
  width: 250px;
  text-align: center;
  color: #dc143c;
}

ul {
  list-style: none; 
}

.link_box {
  display: flex;
  justify-content: space-around;
}

.UserName {
  font-size: 28px;
  font-weight: bold;
}

.AppName {
  font-size: 32px;
  font-weight: bold;
}

.SearchForm {
  width: 80vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.SearchInput {
  width: calc(100% - 280px);
  margin-right: 20px;
  height: 30px;
}

.SearchBtn {
  width: 80px;
}

.TvSchedule {
  margin-bottom: 5px;
  border: 1px solid #3cb371;
  
  .start_time {
    background-color: #3cb371;
    color: whitesmoke;
  }
  
  .channel {
    background-color: #FFFFCC;
  }
  
  .title {
    background-color: #ff6347;
    color: white;
  }
}

.UserEvent {
  margin-bottom: 5px;
  border: 1px solid #4169e1;
  
  .start_time {
    background-color: #4169e1;
    color: whitesmoke;
  }
  
  .memo {
    background-color: #ff6347;
    color: whitesmoke;
  }
  
  .title {
    background-color: white;
  }
}