.simple-calendar {
  background-color: #fffafa;
  height: calc(100vh - 100px);
  width: 100vw;
  padding: 10px;

  .calendar-heading {
    height: 50px;
    width: 100%;
    text-align: center;
  }

  .calendar-title {
    font-size: 24px;
    color: #dc143c;
    font-weight: bold;
    margin: 0 20px;
  }

  thead, tbody {
    display: block;
  }

  thead {
    color: whitesmoke;
    background-color: #4169e1;
  }

  tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 200px);
  }

  .table {
    background-color: #fffafa;
    border: 1px solid #4169e1;
    width: 100%;
    height: auto;
  }

  th {
    background-color: #4169e1;
	  width: 14vw;
  }
  
  .day {
	  width: 14vw;
    background-color: #fffafa;
    vertical-align: top;
    text-align: center;
    height: 100%;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 2px solid #ff69b4;
  }
}